* {
    box-sizing: content-box;
}

%clearfix {
    &:after,
    &:before {
        content: '';
        display: block;
        clear: both;
    }
}

.container {
    width: 100%;
    @media (min-width: 1201px) {
        width: 1200px;
    }
    max-width: 1200px;
    margin: 0 auto;
    .row {
        @extend %clearfix;
        [class*='col-'] {
            @extend %clearfix;
            padding: 0 13px;
            float: left;
            box-sizing: border-box;
            min-height: 1px;
            &.without-gutter {
                padding: 0;
            }
            &.go-right {
                float: right;
            }
            &.disappear {
                @media (max-width: 768px) {
                    display: none;
                }
            }
            .row {
                [class*='colsub-'] {
                    @extend %clearfix;
                    float: left;
                    box-sizing: border-box;
                    min-height: 1px;
                    &.go-right {
                        float: right;
                    }
                }
                @for $i from 1 through 12 {
                    .colsub-#{$i} {
                        width: $i * 8.333%;
                    }
                }                 
            }
        }
        @for $i from 1 through 12 {
            .col-#{$i} {
                width: $i * 8.333%;
            }
        }
        @for $i from 4 through 12 {
            .col-#{$i} {
                @media (max-width: 768px) {
                    width: 100%;
                    padding-left: 20%;   
                    padding-right: 20%;
                    margin-top: 20px;
                    margin-bottom: 20px;
                }
            }
        }
        @for $i from 1 through 3 {
            .col-#{$i} {
                @media (max-width: 425px) {
                    width: 50%;
                }
            }
        }
        @for $i from 4 through 12 {
            .col-#{$i} {
                @media (max-width: 425px) {
                    width: 100%;
                    padding: 0 13px;
                }
            }
        }
        @media (min-width: 769px) {
            padding: 20px 0;
        }
    }
}