#first-section {
    .row {
        article {
            position: relative;
            .box-transp {
                position: absolute;
                bottom: 20px;
                width: calc(100% - 26px);
                height: 4em;
                background-color: #ffffff;
                opacity: 0.35;
                z-index: 1;
            }
            .box-label {
                z-index: 2;
                position: absolute;
                bottom: 20px;
                width: calc(100% - 26px);
                z-index: 2;
            }
            &:hover {
                .box-transp,
                .box-label {
                    display: none;
                }
            }
        }
    }
    .image-container {
        width: 100%;
    }
    img {
        width: 100%;
    }
    h1 {
        font-family: 'ralewaybold';
        text-align: left;
        margin: 16px;
        padding: 0.3em 0;
        width: 9.5em;
        border-bottom: 10px solid map-get($colors, baseGreen);
    }
    .description {
        border: 2px solid black;
    }
    p {
        font-family: 'ralewayregular';
        margin: 1em;
    }
}