nav {
    background-color: map-get($colors, navAndFooterColor);
    padding-bottom: 20px;
    @media (min-width: 520px) {
            padding: 0;
        }
    color: white;
    .logo {
        font-family: 'ralewayregular', Arial, sans-serif;
        font-size: 30px;
        line-height: 2em;
        text-transform: uppercase;
        text-align: center;
        width: 7em;
        margin: 0 auto;
        b {
            font-family: 'ralewaybold', "Arial Bold", sans-serif;
            color: map-get($colors, baseGreen);
        }
        @media (min-width: 769px) {
            float: left;
        }
        @media (min-width: 769px) {
        }
    }
    .menu {
        height: 60px;
        ol {
            @extend %clearfix;
            font-family: 'Arial', sans-serif;
            text-transform: uppercase;
            text-align: center;
            font-size: 20px;
            padding: 0;
            list-style: none;
            line-height: 1em;
            li {
                margin-bottom: 10px;
            }
            @media (min-width: 520px) {
                margin: 20px auto;
                li {
                    display: inline-block;
                    margin-left: 10px;
                    margin-bottom: 0;
                }
            }
            @media (min-width: 769px) {
                float: right;
            }
        }
    }
}